/* Element Selectors */

body {
  background-color: #28527a;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

hr {
  width: 30%;
  border-style: dotted;
  opacity: 50%;
  border-width: 3px;
  border-bottom: 0;
  margin-bottom: 50px;
  color: #f4d160;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
  font-size: 1.5rem;
  margin: 7.5px;
  color: #f4d160;
}

p {
  font-size: 1.2rem;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

table {
  margin: 10px auto;
  font-size: 1.1rem;
  font-family: "Times New Roman", Times, serif;
}

/* Class Selectors */

.quick-facts {
  margin: 10px 0 15px;
  padding: 1px 10px 1px;
  border: 1px solid #f4d160;
}

.footer {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  border: -1px solid #f4d160;
}

.footer-link {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  opacity: 80%;
}

.footer-seperator {
  text-align: center;
  opacity: 50%;
}

.qa-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}

.qa-hr {
  margin-bottom: 25px;
}

/* ID Selectors */

#main {
  width: 90%;
  margin: 10px auto;
}

#title {
  color: #f4d160;
}

#image {
  width: 100%;
}

#img-caption {
  text-align: center;
  opacity: 70%;
}

#tribute-info {
  margin: 10px 0 15px;
  padding: 1px 10px 1px;
}

#tribute-link {
  color: #fff;
  text-decoration: none;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  #main {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  #main {
    width: 70%;
  }
  table {
    margin: 10px;
    font-size: 1.1rem;
    font-family: "Times New Roman", Times, serif;
  }
}
